 body{
   --bs-body-bg: black;
    font-family: Poppins,sans-serif;
    height: 100vh;
 }
 
 h1 {
    color:white;
    text-align: center;
    font-size: 3rem;

}
.intro{
   color:white;
   text-align: center;
}

.filechoose{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 50px;
}
.button{
   margin-left: 30px;
}
.info{
   color:wheat
}
.input-group{
   max-width: fit-content;
   display: flex;
   justify-content:center ;
   align-items: center;
}
@media (max-width: 680px) {
   body{
      background-color: black;
      font-family: Poppins,sans-serif;
   }
   
   h1 {
     font-size: 3.5rem;
     text-align: center;
   }
   .intro{
      color:white;
      text-align: center;
   }
   
 
 }