 body{
    background-color: black;
    font-family: Poppins,sans-serif;
 }
 
 h1 {
    color:white;
    text-align: center;
    font-size: 3rem;

}
.intro{
   color:white;
   text-align: center;
}


@media (max-width: 680px) {
   body{
      background-color: black;
      font-family: Poppins,sans-serif;
   }
   
   h1 {
     font-size: 3.5rem;
     text-align: center;
   }
   .intro{
      color:white;
      text-align: center;
   }
   
 
 }